.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #262626;

}

.Phone-img {
  max-height: 560px;
  margin-right: 40px;
  margin-top: -20px
}

.Instagram {
  margin: 30px;
  max-width: 200px;
}

.Login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 350px;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  margin-top: -20px;
}

.error {
  background-color: lightpink;
  border-radius: 5px;
  margin-top: -30px;
  padding: 5px;
  font-size: 16px;
  color: darkred;
  width: 260px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Signup-box {
  background-color: #ffffff;
  border: 1px solid lightgray;
  height: 40px;
  padding: 10px;
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, button, input, label, select, td, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

input, select, textarea {
  background-color: #fff;
  color: #1c1e21;
}

input {
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  background-color: field;
  margin: 3px;
  padding: 10px 5px;
  width: 260px;
  border: 1px solid lightgray;
  background-color: #fafafa;
  border-radius: 5px;
}

input:focus {
  border-width: 1px;
  border-style: inset;
  border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.Login-btn {
  cursor: pointer;
  margin: 10px;
  width: 100%;
  background-color: #0095f6;
  color: #fff;
  border: solid 0px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

.Login-btn:active {
  background-color: #3db2ff;
}

a {
  text-decoration: none;
}

.message {
  background-color: lightgreen;
  border-radius: 5px;
  margin-top: -30px;
  padding: 5px;
  font-size: 16px;
  color: darkgreen;
  width: 260px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot {
  bottom: 20px;
  font-size: 14px;
}

.get-app {
  margin: 20px;
  font-size: 15px;
}

.appstore {
  cursor: pointer;
  max-width: 140px;
  margin: 5px;
}

.playstore {
  cursor: pointer;
  max-width: 140px;
  margin: 5px;
}

footer {
  color: #b3b3b3;
  font-size: .8rem;
  font-weight: bold;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  word-spacing: 20px;
}

