body {
    background-color: #fafafa;
}

.container {
    text-align: center;
    min-height: 100vh;
    background-color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
}
  
.instagram {
    margin-top: 10px;
    width: 100px;
}
  
.nav-bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid lightgray;
}
    
.Search-bar {
    width: 270px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    background-color: #efefef;
}

.Search-img {
    filter: invert(10%) sepia(20%) saturate(10%) hue-rotate(12deg) brightness(10%) contrast(10%);
    max-width: 20px;
    padding-left: 20px;
    padding-right: 5px;
}

.Search-input {
   border: none;
   background-color: #efefef;
   font-size: 1rem;
}

.Search-input:focus {
    outline: none;
    outline-width: none;
    box-shadow: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
 }

.Login-signup {
    display: flex;
    align-items: center;
}

.Login {
    cursor: pointer;
    background-color: #0095f6;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border: 0 none;
    margin-right: 10px;
    margin-left: 10px;
}

.Signup {
    color: #0095f6;
    font-size: 14px;
    font-weight: bold;
}

.Img-box {
    width: 560px;
    height: auto;
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 60px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.198) 0px 10px 50px;
    display: flex;
    flex-direction: column;
}

.Img-top {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.Name-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Name {
    font-weight: bold;
    font-size: 14px;
}

.Username {
    color: grey;
}

.Profile-pic { 
    max-width: 40px;
}

.Bushbaby-img {
    min-width: 100%;
}

.Img-icons {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    cursor: pointer;
}

.red-heart {
    fill: #ee4956;
    stroke: transparent;
    stroke-width: 0px;
}

.Img-comments {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    margin-top: -5px;
}

svg {
    margin-right: 8px;
}

.likes {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
}

.view-all {
    background-color: #ffffff;
    color: rgb(111, 111, 111);
    font-size: 14px;
    margin-left: -5px;
    border: 0 none;
    cursor: pointer;
}

.line {
    width: 520px;
    border: solid 1px #efefef;
}

.Add-comment {
    border: none;
    background-color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
}

.Add-comment:focus {
     outline: none;
     outline-width: none;
     box-shadow: none;
     border-top-style: hidden;
     border-right-style: hidden;
     border-left-style: hidden;
     border-bottom-style: hidden;
}

.hidden {
    display: none;
    
}

.comments {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
}
